<!--<mat-spinner [color]="'primary'" [diameter]="60" [strokeWidth]="6" *ngIf="!isSubmitting"></mat-spinner>-->
<div class="parent" *ngIf="!isSubmitting">
  <div class="child">
    <h2 class="post-caption">Create your Post</h2>

    <form [formGroup]="validateForm">
      <div class="form-input">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="title" formControlName="title">
          <mat-error
            *ngIf="validateForm.get('title')?.invalid && (validateForm.get('title'))?.dirty || validateForm.get('title')?.touched">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput rows="6" placeholder="Write your post" formControlName="body"></textarea>
          <mat-error
            *ngIf="validateForm.get('body')?.invalid && (validateForm.get('body'))?.dirty || validateForm.get('body')?.touched">
            Body is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-input">
        <mat-form-field appearance="fill">
          <mat-label>Add tags</mat-label>
          <mat-chip-grid #chipGrid aria-label="Add tags" formControlName="tags">
            <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)" [editable]="true"
                          (edited)="edit(tag, $event)"
                          [aria-description]="'press enter to edit ' + tag.name">
              {{tag.name}}
              <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                <mat-icon>close</mat-icon>
              </button>
            </mat-chip-row>

            <input matInput placeholder="Add new tag.." [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeycodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-grid>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" class="login-form-button login-form-margin"
              (click)="addPost()">Publish your Post
      </button>
    </form>

  </div>
</div>
