.mat-toolbar {
  background-color: #27c734;
  color: rgb(13, 13, 103);
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  flex-wrap: wrap; 
}

.navbar-logo {
  font-size: 20px;
  font-weight: 600;
  margin-right: 16px;
}

.spacing {
  flex : 1;
}

button {
  color: white;
  text-transform: uppercase;
  margin-left: 8px;
}

button-active {
  font-weight: 600;
}




@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar-logo {
    margin-bottom: 8px;
  }

  .navbar-menu {
    display: none; /* Hide buttons initially */
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu.active {
    display: flex; /* Show buttons when active */
  }

  .navbar-toggle {
    display: block; /* Show hamburger menu */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .navbar-toggle:focus {
    outline: none;
  }
}