<div class="signup-container">
  <mat-card class="signup-card">
    <mat-card-content>
      <h2 class="signup-caption">Signup</h2>
      <form [formGroup]="signupForm">
        <div class="form-input">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" name="name" required formControlName="name">
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com" name="email" required formControlName="email">
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" type="password" required formControlName="password">
          </mat-form-field>
        </div>
        <div class="form-input">
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput placeholder="confirm password" name="confirmPassword" type="password" required
                   formControlName="confirmPassword">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="signup-button" (click)="signup()" [disabled]="signupForm.invalid">Sign up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
